# gradio
# groq
# google-genai
# google-generativeai
# crewai==1.14.3
# crewai[google-genai]
# crewai-tools
# litellm
# langchain
# langchain-community
# langchain-groq
# langchain-google-genai
# langchain-text-splitters
# fastembed
# chromadb
# pypdf
# ragas==0.3.9
# datasets
# pydantic

gradio
sentence-transformers
pypdf
langchain-text-splitters
chromadb
crewai
crewai-tools
pydantic
datasets
ragas
langchain-groq
langchain-huggingface
langchain-community
python-dotenv